*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Variables */
  --color-main: rgb(123, 17, 17);
  --color-text: rgb(238, 230, 230);
  --color-black: rgb(4, 4, 4);
  --font-display: 'Angelized', serif;
  --font-text: 'Angelized', serif;
  --btn-cursor: url('../src/icons/cursor.cur'), auto;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: var(--font-text);
}

.link {
  text-decoration: none;
  color: var(--color-text);
}
