*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  --color-main: rgb(123, 17, 17);
  --color-text: rgb(238, 230, 230);
  --font-display: 'Jim Nightshade', cursive;
  --font-text: 'Roboto', sans-serif;
  --btn-cursor: url('../src/icons/cursor.cur'), auto;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: var(--font-text);
}

.game {
  grid-area: app;

  display: grid;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-areas: 'hangman control';
  column-gap: 5rem;
  justify-items: center;

  border-radius: 2rem;
  padding: 2rem;
}

.hangman {
  grid-area: hangman;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control {
  grid-area: control;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 1.5rem;
  color: white;
}

.phrase__letter {
  font-family: var(--font-display);
  font-size: 6.5rem;
  letter-spacing: 0.5rem;
  color: var(--color-text);
}

.phrase__space {
  margin-right: 3rem;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  width: 80%;
  margin-top: 6rem;
}

.keyboard__btn {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-main);
  color: var(--color-text);
  cursor: var(--btn-cursor);
}

.keyboard__btn__used {
  background-color: black;
  opacity: 0.75;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
