*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  --color-main: rgb(123, 17, 17);
  --color-text: rgb(238, 230, 230);
  --font-display: 'Jim Nightshade', cursive;
  --font-text: 'Roboto', sans-serif;
  --btn-cursor: url('../src/icons/cursor.cur'), auto;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: var(--font-text);
}

/* Global page layout styles */

.game {
  grid-area: app;

  display: grid;
  height: 100%;
  grid-template-columns: 40% 60%;
  grid-template-areas: 'hangman control';
  column-gap: 5rem;
  justify-items: center;

  border-radius: 2rem;
  padding: 2rem;
}

.control {
  grid-area: control;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Global element styles */

.link {
  text-decoration: none;
  color: var(--color-text);
}
